@import 'reset.scss';


#app {
  display: flex;
  height: 100%;
  width: 100%;
  .sideBar {
    flex-basis: 20%;
    background-color: rgb(237, 245, 246);
    box-sizing: border-box;
    padding: 20px;
    font-size: 13px;
    .user-info{
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 10px;
    }
    .user-own {
      overflow-y: auto;
      .sideBarClassify {
        margin-top: 30px;
        .sideBarItems {
          margin-top: 10px;

          .sideBarItem {
            display: flex;
            align-items: center;
            padding: 5px;
            cursor: pointer;
            &:hover {
              background-color: yellow;
            }
            .sideBarImg {
              height: 20px;
              width: 20px;
              margin-right: 10px;
            }
          }
          .active {
            background-color: red;
            &:hover {
              background-color: red;
            }
          }
        }
      }
    }
  }

  main {
    flex-basis: 80%;
    background-color: #fff;
    overflow-y: auto;
    background-color: rgb(250, 252, 252);

    header {
      background-color: #fff;
      height: 100px;

      .header-tools {
        display: flex;
        justify-content: space-between;
        -webkit-app-region: drag;
        box-sizing: border-box;
        padding: 10px;
        height: 50%;
        background: grey;

        *{
          display: flex;
        }
      }

      .search {
        height: 30px;
        width: 250px;
        padding: 0 10px;
        background-color: #eee;
        border-radius: 25px;

        input {
          background: none;
          text-align: center;
          outline: none;
          border:none;
          height: 100%;
          width: 100%;
          -webkit-app-region: no-drag;

        }
      }

      .tab {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 50%;

          a{
            margin: 0 20px;
          }
      }
    }
  }

  footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 80px;
    background: #fff;
    box-shadow: 0 -3 3px 3px;
  }
}
